
:root {
    --primery-text-color: #E5E5E5;
    --title-text-color: #757575; 
    --accent-color: #2196F3;
    --healines-text-color: #212121;
    --hero-text-color: #FFFFFF;
    --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--primery-text-color);
    color: var(--title-text-color);

    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}


/* header */

.logo {
    color: var(--healines-text-color);
    font-family: Raleway, sans-serif;
    font-weight: bold;
font-size: 26px;
line-height: 1.19;
}

.logo-part {
    color: var(--accent-color);
}

.site-nav a {
    color: var(--healines-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.site-nav a:hover,
.site-nav a:focus {
    color:#2196F3 ;
}


/* hero */

.hero-title {
    color: var(--hero-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/* section */

.section .section-title {
    color: var(--healines-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section .description {
    color:var(--title-text-color);
    font-size: 14px;
    line-height: 1.71;
}


/* footer */
.logo-footer{
    color: var(--hero-text-color);
    font-family: Raleway, sans-serif;
}


.address-footer
 {
    color: var(--hero-text-color);
}
    
.contact-list a{
    color: var(--footer-text-color);
}